

.menu {
font-family: tahoma;
font-weight:bold;
height: 90px;
background-color: black;
font-size: 18px;
padding: 10px;
}

label {
font-family: tahoma;
font-size: 28px;
color:yellow;
margin-top:10px;
padding:5px;
float: left;
}

.menu ul{
margin: 0px; 
padding: 10px;
background: none;
display: block;
float:right;
}
.menu ul li{
list-style: none;
display:inline-block;
}

.menu ul li a{
display: block;
text-decoration:none;
padding: 10px;
color:#ddd;
}
.menu ul li a:hover{
display:block;
color:yellow;
background:#222;
box-shadow: inset 0px 0px 5px #000;
}

.menu ul li .dropdown{
display: none;
}
.menu ul li:hover .dropdown{
display: block;
background:black;
position:absolute;
padding:10px;
}
.menu ul li:hover .dropdown li{
display: block;
}
.menu ul li:hover .dropdown li a{
padding: 0px;
border-radius:5px;
margin-bottom:0px;
}

.menu ul li:hover .dropdown li a:hover{
background:#222;
box-shadow:inset 0px 0px 5px #000;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
width: 100%;
height: 700px;
margin-top: auto;
margin:0px;
background: none;
padding: 0 0px;
}

.wrapper{
padding-top: 20px;
max-width: 500px;
width: 100%;
background: black;
margin:20px auto;
padding: 30px;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}
.wrapper .title{
font-size: 24px;
font-weight:700;
margin-bottom: 25px;
color: #fec107;
text-transform: uppercase;
text-align: center;
}
.wrapper .form{
width: 100%;
}
.wrapper .form .input_field{
margin-bottom: 15px;
display: flex;
align-items: center;
}

.wrapper .form .input_field label{
width: 200px;
color: #7575775;
margin-right: 10px;
font-size: 15px;
}

.wrapper .form .input_field .input{
width: 100%;
outline: none;
border: 1px solid #d5dbd9;
font-size:15px;
padding: 8px 10px;
border-radius:3px;
transition: all 0.3s ease;
}

.wrapper .form .input_field .custom_select{
position: relative;
width: 100%;
height: 37px;
}
.wrapper .form .input_field .custom_select select{
-wbekit-appearance: none;
appearance: none;
border: 1px solid #d5dbd9;
width:100%;
height:100%;
padding: 8px 10px;
border-radius:3px;
}

.wrapper .form .input_field .custom_select:before{
content:"";
position:absolute;
top:12px;
right:10px;
border:8px solid;
border-color: #fec107 transparent transparent transparent;
pointer-events: none;
}
.wrapper .form .input_field .input:focus,
.wrapper .form .input_field .select:focus{
border: 1px solid #fec107;
}
.wrapper .form .input_field  p{
font-size: 14px;
color: #757575;
}
.wrapper .form .input_field .check{
width:15px;
height:15px;
position:relative;
display:block;
cursor:pointer;
}
.wrapper .form .input_field terms .check input[type="checkbox"]{
position: absolute;
top: 0;
left: 0;
opacity: 0;
}
.wrapper .form .input_field terms. check .checkmark{
width:15px;
height: 15px;
border: 1px solid #fec107;
display:block;
position: relative;
background: #d5dbd9;
}
.wrapper .form .input_field .check .checkmark:before{
content: "";
position: absolute;
top:1px;
left:2px;
width:5px;
height:2px;
border:2px solid;
border-color: transparent transparent #fff #fff;
transfrom: rotate(-45deg);
display: none;
}
.wrapper .form .input_field .check input[type="checkbox"]:checked ~ .checkmar{
background: #fec107
}
.wrapper .form .input_field .check input[type="checkbox"]:checked ~ .checkmar:before{
display:block;
}

.wrapper .form .input_field .btn{
width:100%;
padding: 8px 10px;
font-size: 15px;
border:0;
background:#fec107;
color:#fff;
border-radius: 3px;
}

.wrapper .form .input_field:last-child{
margin-bottom: 0;
}
.wrapper .form .input_field .btn:hover{
background: #ffd658;
}

footer{
position: fixed;
bottom: 0;
}

@media (max-height:800px)
{
 footer{
  position: static;
 }
}

.footer-distributed{
background-color: black;
box-sizing: border-box;
widows: 100%;
text-align: left;
font: bold 16px sans-serif;
padding: 50px 50px 60px 50px;
margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
display:inline-block;
vertical-align: top;
}

.footer-distributed .footer-left{
width: 30%;
}
.footer-distributed h3{
color:white;
font: normal 36px 'cookie', cursive;
margin: 0;
}
.footer-distributed h3 span{
color: yellow;
}

.footer-distributed .footer-links{
color: white;
margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
display: inline-block;
line-height: 1.8;
text-decoration: none;
color:inherit
}

.footer-distributed .footer-company-name{
color: #8f9296;
font-size: 14px;
font-weight: normal;
margin:0;
}

.footer-distributed .footer-center{
width:35%;
}
.footer-distributed .footer-center i{
background-color: #33383b;
color:#ffff;
font-size:25px;
width:38px;
height:38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin:10px 15px;
vertical-align:middle;
}

.footer-distributed .footer-center i.fa-envelope{
font-size: 17px;
line-height: 38px;
}
.footer-distributed .footer-center p{
display: inline-block;
color: #ffff;
vertical-align: middle;
margin: 0;
}
.footer-distributed .footer-center p span{
display: block;
font-weight: normal;
font-size: 14px;
line-height: 2;
}
.footer-distributed .footer-center p a{
color: yellow;
text-decoration: none;
}

.footer-distributed .footer-right{
width: 30%;
}

.footer-distributed .footer-company-about{
line-height: 20px;
color:#92999f;
font-size: 13px;
font-weight: normal;
margin:0;
}

.footer-distributed .footer-company-about span{
display:block;
color:#ffff;
font-size: 18px;
font-weight: bold;
margin-bottom: 20px;
}
.footer-distributed .footer-icons{
margin-top: 25px;
}
.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:grey;
border-radius: 2px;
font-size: 20px;
color: #ffff;
text-align: center;
line-height: 35px;
margin-right: 3px;
margin-bottom:5px;
padding:5;
}
.footer-distributed .footer-icons a:hover{
background-color: black;
}
.footer-links a:hover{
color:yellow;
}

@media (max-width: 880px){
 .footer-distributed .footer-links, .footer-distributed .footer-center, .footer-distributed .footer-right{
 display: block;
 width: 100%;
 margin-bottom: 40px;
 text-align: center;
 }
 .footer-distributed .footer-center i{
 margin-left: 0;
}
}























